@use "./base/variables";
@forward "./components/product-card";
@import "./base/mixins";


* {
    font-family: Lato;
    margin: 0;
    padding: 0;
}

.page__wrapper {
    max-width: 1920px;
    margin: 0 auto;

    @include fluid(padding-left, 345px, 20px);
    @include fluid(padding-right, 345px, 20px);
    @include fluid(padding-top, 44px, 20px);
    @include fluid(padding-bottom, 86px, 20px);
}

.header {
    &__titles {
        text-align: center;
        margin-bottom: 85px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__title {
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        letter-spacing: 0%;
    }
}

.products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include fluid(grid-column-gap, 30px, 1px);
    @include fluid(grid-row-gap, 30px, 1px);
}

.categories {
    margin-bottom: 60px;

    &__list {
        display: flex;
        @include fluid(gap, 12px, 1px);
    }
}

.filter {
    &__btn {
        color: variables.$text-gray600;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
        @include fluid(padding-left, 20px, 0px);
        @include fluid(padding-right, 20px, 0px);
        @include fluid(padding-top, 10px, 0px);
        @include fluid(padding-bottom, 10px, 0px);

        &--active {
            border: 1px solid #FF3F3A;
            border-radius: 4px;
            color: #FF3F3A;
        }
    }

    &__btn-inner {
        display: flex;
        @include fluid(gap, 4px, 1px);
        @include fluid(height, 26px, 6px);
    }

    &__btn-counter {
        font-weight: 900;
        font-size: 10px;
        line-height: 150%;
    }
}